ale_py
einops
gym
joblib
matplotlib
networkx
normflows
numpy
PyYAML
sb3_contrib
scipy
stable_baselines3
torch_geometric
torchinfo
wandb
tensorboard
geomloss
numba

# survae==0.1: from https://github.com/didriknielsen/survae_flows
# torch==1.11.0: from official site
# pytorch-sparse: from conda, `conda install pytorch-sparse -c pyg`
# pyflann: from https://github.com/ChangyWen/wolpertinger_ddpg.git
